a{
    text-decoration:none;
    color: black;
}

a:hover{
    color:green;
}

a:visited{
    color:purple;
}

a:active{
    color:red;
}

.doc{
    margin:0px;
}

.container{
    width: 80%;
    margin: auto;
}
.categories{
    border: 25px dotted greenyellow;
    padding:10px;
    border-radius:15px;
    float:left;
}

body{
    border: 1px black;
}

img{float:right;}




